:root {
    --jl-blue-dark: #0d6efd;
    --jl-blue-light: #3a7bd5;
    --jl-aqua: #00d2ff;
    --jl-gradient: linear-gradient(to top, var(--jl-aqua) 0%, var(--jl-blue-light) 100%);
}

.custom-modal-header-color {
    --bs-modal-header-border-color: var(--bs-gray-700);
}

.custom-modal-footer-color {
    --bs-modal-footer-border-color: var(--bs-gray-700);
}

.cm-scroller {
    overflow-y: scroll;
}

.cm-scroller::-webkit-scrollbar {
    width: 5px;
}

.cm-scroller::-webkit-scrollbar-track {
    background: var(--bs-gray);
}

.cm-scroller::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--jl-blue-dark);
    background-image: var(--jl-gradient);
}
