:root {
    --jl-blue-dark: #0d6efd;
    --jl-blue-light: #3a7bd5;
    --jl-aqua: #00d2ff;
    --jl-gradient: linear-gradient(to top, var(--jl-aqua) 0%, var(--jl-blue-light) 100%);
}

code {
    font-family: inherit;
    color: var(--jl-blue-dark);
    padding: 2px;
    font-size: 105%;
    font-weight: bolder;
}

.cm-scroller {
    overflow-y: scroll;
}

.cm-scroller::-webkit-scrollbar {
    width: 0.75rem;
}

.cm-scroller::-webkit-scrollbar-track {
    background: var(--bs-gray);
    border-radius: 0.5rem;
}

.cm-scroller::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--jl-blue-dark);
    background-image: var(--jl-gradient);
}
